# ==========================================
#  DATABASE (SQL)
# ==========================================
# Database files
*.db
*.sqlite
*.sqlite3
*.duckdb

# ==========================================
#  PYTHON & JUPYTER NOTEBOOKS
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
.ipynb_checkpoints/

# ==========================================
# LARGE DATA FILES
# ==========================================
# *.csv
# *.xlsx
# *.parquet

# =========================================
# IDE & CODE EDITORS
# ==========================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ==========================================
# 🖥️ SYSTEM FILES
# ==========================================
Thumbs.db
db.files
.DS_Store
